/* Card Dimensions
    W: 2.5mm 1250px 250px
    H: 3.5mm 1750px 350px

*/

#hobby-card-article {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-inline: 5px;
    margin-top: 0px;
    min-height: 420px;
}

#hobby-card-article div {
    margin-inline: 5px;
}

#hobby-card-article div, #hobby-card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

@media(max-width: 1240px) {
    #hobby-card-article {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding-inline: 5px;
        margin-top: 0px;
        min-height: 420px;
    }

    #hobby-card-article div, #hobby-card-deck {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 5px;
    }
}

#hobby-card-deck {
    /* position: absolute; */
    /* width: 300px; */
    /* height: 400px; */
    /* background-color: #695c5c; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* z-index: -1000; */
}

.hobby-card {
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    cursor: move; 

    /* display: flex; */
    display: flex;
    z-index: 0;
  
    /* Critical rules for movement */
    position: absolute; 
    user-select: none;
}

.hobby-card img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    
    pointer-events: none;
    user-select: none;
}

.hobby-card p{
    background-color: inherit;
    color: black;
    font-size: 2em;

    text-align: center;
    margin: auto;
    display: flex;
}